<div class="container-fluid">
    <h1 class="mt-1">Entertainment</h1>
<!-- Placeholder News Articles -->
<div class="card mb-4">
    <img src="./assets/deadpool.jpg" class="card-img-top" alt="Placeholder Image" style="width: 300px; height: 200px;">
    <div class="card-body">
        <h2 class="card-title">First 'Deadpool & Wolverine' Teaser Debuts During The Big Game</h2>
        <p class="card-text">Marvel Studios’ DEADPOOL & WOLVERINE opens in U.S. & Canadian movie theaters on July 26, and will be available in IMAX, RealD 3D, Dolby Cinema, 4DX, Cinemark XD, and premium screens everywhere.</p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
</div>