<div class="container-fluid">
  <h1 class="mt-1">Politics</h1>
  <!-- Placeholder News Articles -->
  <div class="card mb-4">
    <img
      src="./assets/theresa.jpg"
      class="card-img-top"
      alt="Placeholder Image"
      style="width: 300px; height: 200px"
    />
    <div class="card-body">
      <h2 class="card-title">
        Theresa May to step down as PM at general election
      </h2>
      <p class="card-text">
        Former PM says she wants to focus on causes close to her heart after 27
        years in parliament
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
