<div class="container-fluid">
    <h1 class="mt-1">Tech</h1>
<!-- Placeholder News Articles -->
<div class="card mb-4">
    <img src="./assets/nikon.jpg" class="card-img-top" alt="Placeholder Image" style="width: 300px; height: 200px;">
    <div class="card-body">
        <h2 class="card-title">Nikon is acquiring US camera manufacturer RED</h2>
        <p class="card-text">RED will become a subsidiary of Nikon as it attempts to expand into the digital cinema camera market.</p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
</div>